<!-- Footer -->
<footer class="page-footer font-small indigo text-white">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row -->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    {% if home_active %}
                    <a class="nav-link text-white" href="#services">Services</a>
                    {% else %}
                    <a class="nav-link text-white" href="#help">Help</a>
                    {% endif %}
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-link text-white" href="#contact">Contact</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-link text-white" target="_blank" href="https://www.youtube.com/">Youtube</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-link text-white" target="_blank" href="https://www.facebook.com/">Facebook</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-link text-white" target="_blank" href="https://www.instagram.com/">Instagram</a>
                </h6>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">The fastest and easiest way to to download any video from YouTube and Facebook. Our website allows you to download and save videos to any storage, from where you can play them
                    in the future.
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!-- Grid row-->
        <div class="row pb-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="mb-2 text-center" id="contact">

                    <a href="https://www.facebook.com/profile.php?id=100009900399617" target="_blank"><i
                            class="fab fa-facebook fa-2x m-1 text-white"></i></a>
                    <a href="https://www.instagram.com/satyam1998.1998/" target="_blank"><i
                            class="fab fa-instagram fa-2x m-1 text-white"></i></a>
                    <a href="mailto:satyam1998.1998@gmail.com" target="_blank">
                        <i class="fas fa-envelope fa-2x m-1 text-white"></i></a>
                    <a href="https://www.hackerrank.com/satyam1998_1998" target="_blank">
                        <i class="fab fa-hackerrank fa-2x m-1 text-white"></i></a>
                    <a href="https://twitter.com/SatyamS31450520" target="_blank"><i
                            class="fab fa-twitter fa-2x m-1 text-white"></i></a>
                    <a href="https://www.linkedin.com/in/satyam-seth-39069b17a" target="_blank"><i
                            class="fab fa-linkedin fa-2x m-1 text-white"></i></a>
                    <a href="https://github.com/satyam-seth" target="_blank"><i
                            class="fab fa-github fa-2x m-1 text-white"></i></a>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>Copyright &#169; 2020-21 Satyam Seth</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->